html {
	background: url(Grand_Canyon_Background_Photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
body {
	background-image: "grand_canyon_background_photo.jpg";
}

h1 {
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
	background-color: rgba(170, 170, 170, 1)
}
#navbar {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	width: 100%;

}
ul {
	list-style-type: none;
	padding: 0;
	display: inline;
	width: 80%;
	font: Roboto;
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	font: Roboto;
	background-color: rgba(255, 255, 255, .6);
	padding: 16px 16px 16px 16px;
	text-decoration: none;
	border: white;
}
li a:hover {
	background-color: rgba(0, 0, 0, 0);
	color: red;
}
.bio {
	margin-top: 20%;
	margin-right: 30%;
	margin-bottom: 0;
	font-size: 14pt;
	height: 100%;

	color: rgba(84, 165, 214, 1);
	background-color: rgba(85, 85, 85, .4)
}

#bio-header {
	font-size: 70pt;
	color: rgb(215, 215, 215);
	text-decoration: border;
	margin-top: 0;
}

.resume-section {
	margin-right: 30%;
	margin-left: 12px;
	font-size: 9pt;
}

.resume-school-section {
	margin-left: 14px;
	margin-top: 0px;
}

div.resume-section h6 {
	font-size: 12pt;
	margin-bottom: 0%;
	margin-top: 0;
	margin-left: -12px;
	margin-bottom: 12px;
	padding: 0;
}

div.resume-section p {
	margin: 4px;
	margin-bottom: 8px;
}

div.resume-section h5 {
	font-size: 14pt;
	margin-bottom: 4px;
	margin-left: -12px;
}

div.work-experience-section ul {
	list-style-type: circle; 
}

div.work-experience-section li {
	margin-left: 4pt;
}

div.work-experience-section {
	font-size: 9pt;
	margin-top: 0;
}

div.work-experience-section h5 {
	font-size: 10pt;
	margin-left: 0;
}

.date {
		float: right;
		margin-right: 0%;
		margin-left: 0%;
	}
}